body {
  background-color: rgb(145, 185, 185);
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to left bottom, rgb(4, 2, 78), rgb(60, 69, 192));
  text-align: center;
  border-radius: 15px;

}


.container {

  box-shadow: 0 6px 10px rgba(5, 150, 247, 0.3);
  border: 1px solid rgb(2, 131, 131);
  width: 90%;
  background-color: rgb(11, 40, 49);
  align-items: center;
  border-radius: 0.5rem;
  margin: 10%;
  text-align: center;

}

.heading {
  object-fit: cover;
  color: rgb(177, 245, 245);

}

.author {
  color: rgb(177, 245, 245);
  font-style: italic;
  text-transform: uppercase;

}

#quote {
  color: rgb(177, 245, 245);
  font-size: 20px;
}

.btn {
  background-color: rgb(177, 245, 245);
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 1rem;
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 300px;

}

.btn:hover {
  background-color: rgb(11, 40, 49);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  transition: all 300ms ease-in-out;


}